server/cmd/server/server

.DS_Store
coreui-client/node_modules
coreui-client/dist
coreui-client/coverage

coreui-client/tests/e2e/reports/
coreui-client/selenium-debug.log
coreui-client/chromedriver.log

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

